<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Grafted tree</title>
	<style>
		body, html {
			font-size: 120%;
		}

		h1 {
			page-break-after: right;
		}

		.tree{
			page-break-before: always;
			page: tree;
		}

		code {
			page-break-before: right;
			font-size: 57.5%;
			line-height: 1.2;
		}

		.tree.first {
			page-break-before: right;
			page: initial;
		}


		.tree[data-year] {
			string-set: year attr(data-year);
		}

		@page {
			size: a5 portrait;
		}

	</style>
</head>
<body>
	<h1>Grafted tree</h1>
	<h2 id="introduction">Introduction</h2>
	<p>Imagine books as transformed trees. Some live only for a year, others for ten years, some stay alive during centuries. What would a graft of one of those trees look like?<br><em>Grafted trees</em> takes quotes about trees from existing works.<br>Each graft is defined by its gardener, who is presented with a short biography scraped from Wikipedia.<br>The reader chooses the amount of seasons the graft will grow. A random noun is picked and defined as a &#39;bud&#39; from which a new branch grows by replacing the word by its definition.<br><em>Grafted trees</em> is a book in the &#39;Algoliterary Publishing House: making kin with trees&#39;. The author of this book is the <a href="https://www.oulipo.net/">Oulipo</a>&#39;s constraint of <a href="https://www.oulipo.net/fr/contraintes/litterature-definitionnelle">Littérature définitionnelle</a>, invented by <a href="https://en.wikipedia.org/wiki/Marcel_B%C3%A9nabou">Marcel Bénabou</a> in 1966: in a given phrase, one replaces every significant element (noun, adjective, verb, adverb) by one of its definitions in a given dictionary; one reiterates the operation on the newly received phrase, and again.  </p>
	<p>The book is by definition infinite and each copy is unique.<br>This copy counts {{ xxx }} chapters that correspond to the {{ xxx }} amount of seasons the reader wanted to see the graft grow.  </p>
	<p><em>Grafted trees</em> is a work by <a href="https://www.anaisberck.be/">Anaïs Berck</a>, a pseudonym that represents a collaboration between humans, algorithms and trees. Anaïs Berck explores the specificities of human intelligence in the company of artificial and plant intelligences. </p>
	<p>In this work Anaïs berck is represented by:</p>
	<ul>
	<li>the constraint of <a href="https://www.oulipo.net/fr/contraintes/litterature-definitionnelle">Littérature définitionnelle</a>, invented by Oulipian <a href="https://en.wikipedia.org/wiki/Marcel_B%C3%A9nabou">Marcel Bénabou</a> in 1966,</li>
	<li>the human beings who lent their quotes about trees as grafts: Maya Angelou, William Blake, Scott Blum with <em>Waiting for Autumn</em>, Tim Flannery in Peter Wohllebens <em>The Hidden Life of Trees</em>, Kahlil Gibran with <em>Sand and Foam</em>, Thomas Hardy with <em>Under the Greenwood Tree</em>, Bernd Heinrich with <em>The Trees in My Forest</em>, Hermann Hesse with <em>Baume. Betrachtungen und Gedichte</em>, Mehmet Murat Ildan, Santosh Kalwar, Andrea Koehle Jones with <em>The Wish Trees</em>, Kamand Kojouri, Laura Lafargue with <em>Correspondence Volume 2 1887-1890</em>, John Lubbock with <em>The Use Of Life</em>, Richard Mabey with <em>Beechcombings: The narratives of trees</em>, Chris Maser with <em>Forest Primeval: The Natural History of an Ancient Forest</em>, Mokokoma Mokhonoana, Vera Nazarian with <em>The Perpetual Calendar of Inspiration</em>, George Orwell, Dorothy Parker with <em>Not So Deep As A Well: Collected Poems</em>, Clarissa Pinkola Estes with <em>The Faithful Gardener: A Wise Tale About That Which Can Never Die</em>, Terry Pratchett with <em>Good Omens: The Nice and Accurate Prophecies of Agnes Nutter, Witch</em>, Marcel Proust, Jim Robbins with <em>The Man Who Planted Trees: Lost Groves, Champion Trees, and an Urgent Plan to Save the Planet</em>, Franklin D. Roosevelt, Seneca, Jodi Thomas with <em>Welcome to Harmony</em>, Ralph Waldo Emerson.</li>
	<li>the human beings who lent their code: Marcel Bénabou, Gijs de Heij, An Mertens.</li>
	</ul>

	<h2>Grafting</h2>
	{% autoescape false %}
	{{ content }}
	{% endautoescape %}

	<h2 id="general-description">General description</h2>
	<h3 id="oulipo-constraints-as-authors">Oulipo constraints as authors</h3>
	<p><em>An Algoliterary Publishing House: making kin with trees</em> finds its origins in the tradition of Oulipo (<a href="http://oulipo.net/">http://oulipo.net/</a>) through the work of <a href="https://algolit.net">Algolit</a>, the artistic research group around free code and text based in Brussels and initiated in 2012. That is why we think the Oulipo constraints deserve a place in it as authors. Following Wikipedia, Oulipo (French pronunciation: ​[ulipo], short for French: Ouvroir de littérature potentielle; roughly translated: &quot;workshop of potential literature&quot;, stylized OuLiPo) is a loose gathering of (mainly) French-speaking writers and mathematicians who seek to create works using constrained writing techniques. It was founded in 1960 by <a href="https://en.wikipedia.org/wiki/Raymond_Queneau">Raymond Queneau</a> and <a href="https://en.wikipedia.org/wiki/Fran%C3%A7ois_Le_Lionnais">François Le Lionnais</a>. Other notable members have included novelists <a href="https://en.wikipedia.org/wiki/Georges_Perec">Georges Perec</a> and <a href="https://en.wikipedia.org/wiki/Italo_Calvino">Italo Calvino</a>, poets <a href="https://en.wikipedia.org/wiki/Oskar_Pastior">Oskar Pastior</a> and <a href="https://en.wikipedia.org/wiki/Jean_Lescure">Jean Lescure</a>, and poet/mathematician <a href="https://en.wikipedia.org/wiki/Jacques_Roubaud">Jacques Roubaud</a>.<br>Oulipian constraints or constraint writing techniques can be compared to writing scripts of code. The instructions are clear and repetitive. A lot of them are easily trasnferrable to code. A famous example is <em>Cent mille milliards de poèmes</em> by Raymond Queneau. It is a book of ten poems cut in verses. From these verses you can create a hundred thousand billion properly-formed sonnets. Translated to an online version on <a href="http://www.bevrowe.info/Internet/Queneau/Queneau.html">http://www.bevrowe.info/Internet/Queneau/Queneau.html</a>.</p>
	<p><a href="https://algolit.net">Algolit</a> was inspired by Oulipo for their first coding and algoliterary experiments. In the spirit of Oulipo (<a href="http://oulipo.net/">http://oulipo.net/</a>), Algolit participants share still today their experiences in coding and writing and explore new territories during monthly meetings.
	When the algoliterary writers engage in their work according to the principles of Oulipo they take up the notion of literature as the Oulipians understand it: this includes all linguistic production, from the dictionary to the Bible, from the entire work of Virginia Woolf to all the versions of Terms of Service published by Google since its existence. In this sense, code can also be literature. The participants of Algolit implement algorithms that function as constraint sequences, with the aim of being surprised, exploring and discovering instead of seeking to optimise a style or to strive for efficiency. Then a field of potential literature opens up. Not only can the results be literary, but also the code can be read as a literary creation. Indeed, the way variables and functions are named also opens a door to imaginary worlds, when they can abandon their need to serve production. </p>
	<h3 id="litt-rature-d-finitionnelle">Littérature Définitionnelle</h3>
	<p>In the original constraint formulated by writer Marcel Bénabou, each meaningful term (noun, adjective, verb, adverb) in a given statement is replaced by one of its definitions in a given dictionary; the operation is repeated on the new statement obtained, and so on.
	For this edition we chose to simplify the constraint in order to enhance the legibility. We also chose to use the metaphor of the sentence as a graft from a book. The constraint indicates the growth of the graft. in that sense, it would be more &#39;natural&#39; to have a graft growth following the original constraint to the detail.</p>

	<h2 id="technical-description">Technical description</h2>
	<p><em>Littérature définitionnelle</em> is an Oulipo constraint by which in a given phrase, one replaces every significant element (noun, adjective, verb, adverb) by one of its definitions in a given dictionary; one reiterates the operation on the newly received phrase, and again.<br>In this book the growth is indicated in bold. A random noun is picked and defined as a &#39;bud&#39; in italics. From this bud a new branch grows by replacing the word by its definition in Wordnet.<br><a href="https://wordnet.princeton.edu/">Wordnet</a> is a combination of a dictionary and a thesaurus that can be read by machines. According to Wikipedia it was created in the Cognitive Science Laboratory of Princeton University starting in 1985. The project was initially funded by the US Office of Naval Research and later also by other US government agencies including DARPA, the National Science Foundation, the Disruptive Technology Office (formerly the Advanced Research and Development Activity), and REFLEX.<br><em>Grafted trees</em>&#39;* uses Part-of-Speech to define all nouns in a specific sentence. Parts-of-Speech is a category of words: noun, verb, adjective, adverb, pronoun, preposition, conjunction, interjection, and sometimes numeral, article, or determiner. NLTK, or the Natural Language Toolkit for the programming language Python allows to parse a sentence into words. Next, it includes an pretrained algorithm that can determine the part-of-speech of each word in that sentence. A random noun is then replaced by its definition in Wordnet.  </p>

	<h2 id="code">Code</h2> 
	{% autoescape false %}
	<code>{{ source_code }}</code>
	{% endautoescape %}

	<h2 id="credits">Credits</h2>
<p>This book is a creation of Anaïs Berck.
In this work Anaïs Berck is represented by:</p>
<ul>
<li>the constraint of <a href="https://www.oulipo.net/fr/contraintes/litterature-definitionnelle">Littérature définitionnelle</a>, invented by Oulipian <a href="https://en.wikipedia.org/wiki/Marcel_B%C3%A9nabou">Marcel Bénabou</a> in 1966,</li>
<li>the human beings who lent their quotes about trees as grafts: Maya Angelou, William Blake, Scott Blum with <em>Waiting for Autumn</em>, Tim Flannery in Peter Wohllebens <em>The Hidden Life of Trees</em>, Kahlil Gibran with <em>Sand and Foam</em>, Thomas Hardy with <em>Under the Greenwood Tree</em>, Bernd Heinrich with <em>The Trees in My Forest</em>, Hermann Hesse with <em>Baume. Betrachtungen und Gedichte</em>, Mehmet Murat Ildan, Santosh Kalwar, Andrea Koehle Jones with <em>The Wish Trees</em>, Kamand Kojouri, Laura Lafargue with <em>Correspondence Volume 2 1887-1890</em>, John Lubbock with <em>The Use Of Life</em>, Richard Mabey with <em>Beechcombings: The narratives of trees</em>, Chris Maser with <em>Forest Primeval: The Natural History of an Ancient Forest</em>, Mokokoma Mokhonoana, Vera Nazarian with <em>The Perpetual Calendar of Inspiration</em>, George Orwell, Dorothy Parker with <em>Not So Deep As A Well: Collected Poems</em>, Clarissa Pinkola Estes with <em>The Faithful Gardener: A Wise Tale About That Which Can Never Die</em>, Terry Pratchett with <em>Good Omens: The Nice and Accurate Prophecies of Agnes Nutter, Witch</em>, Marcel Proust, Jim Robbins with <em>The Man Who Planted Trees: Lost Groves, Champion Trees, and an Urgent Plan to Save the Planet</em>, Franklin D. Roosevelt, Seneca, Jodi Thomas with <em>Welcome to Harmony</em>, Ralph Waldo Emerson.</li>
<li>the human beings who lent their code: Marcel Bénabou, Gijs de Heij, An Mertens.</li>
</ul>
<p>The copy of this book is unique and the print run is by definition infinite.
This copy is the XXX number of copies downloaded.</p> <!-- VOEG NUMMER KOPIJ TOE-->
<p>Collective terms of (re)use (CC4r), 2021
Copyleft with a difference: You are invited to copy, distribute, and modify this work under the terms of the
work under the terms of the CC4r: <a href="https://gitlab.constantvzw.org/unbound/cc4r">https://gitlab.constantvzw.org/unbound/cc4r</a></p>

</body>
</html>